@using TwitchAPI.ViewModels
@model ScopeContainer
@{
    ViewData["Title"] = "Privilege setup";
}

<div class="text-center">

    <div class="row">
        <div class="col-md-8 offset-2 text-md-left">
            <p>
                <h4>Please select all scope parameters to give this app access to:</h4>
            </p>

            <label class="text-danger text-md-center align-content-center">@Html.ValidationSummary()</label>

            @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
            {
                ScopeCategory category = ScopeCategory.analytics;

                <div class="badge badge-primary text-wrap text-md-center align-content-center" style="width: 6rem;">
                    @Enum.GetName(typeof(ScopeCategory), category)
                </div>
                <br />

                @foreach (var item in Model.CheckBoxes)
                {
                    if (category != item.Category)
                    {
                        category = item.Category;

                        <br />
                        <div class="badge badge-primary text-wrap text-md-center align-content-center" style="width: 6rem;">
                            @Enum.GetName(typeof(ScopeCategory), category)
                        </div>
                        <br />
                    }
                    <span class="d-inline">
                        <input class="d-inline" type="checkbox" id="@Html.DisplayFor(obj => item.Text)" name="CategoryIds" value="@item.Value" />
                        <label class="d-inline" for="optionText">@Html.DisplayFor(obj => item.Text)</label>
                    </span>
                    <br />
                }
                <br />
                <br />
                <div class="form-group text-md-center">
                    <input type="submit" value="Submit to Twitch" class="btn btn-custom float-md-none text-md-center" />
                </div>
            }
            <br />
            <div class="row text-md-center">
                <div class="card text-md-center align-content-center" style="width: 18rem;">
                    <img src="https://discuss.dev.twitch.tv/uploads/default/original/2X/c/c3e989328e77a8c52f5c645171f01ee95615fd21.png" class="card-img-top" alt="Twitch Developer Forums">
                    <div class="card-body">
                        <h5 class="card-title">Twitch Docs</h5>
                        <p class="card-text">A quick overview of scopes that are available to user accounts.</p>
                        <a href="https://dev.twitch.tv/docs/authentication#scopes" class="btn btn-primary stretched-link">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
