@using TwitchAPI.ViewModels
@model UserInfos

@{
    ViewData["Title"] = "User: " + Model.UserInfoList.First().DisplayName + " overview";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserInfoList.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.UserInfoList.First().DisplayName)</th>
            <th>@Html.DisplayNameFor(model => model.UserInfoList.First().Login)</th>
            <th>@Html.DisplayNameFor(model => model.UserInfoList.First().ProfileImageUrl)</th>
            <th>@Html.DisplayNameFor(model => model.UserInfoList.First().ViewCount)</th>
            <th>@Html.DisplayNameFor(model => model.UserInfoList.First().CreatedAt)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserInfoList)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td class="align-middle">
                    <img src="@item.ProfileImageUrl" style="max-width: 150px" />
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ViewCount)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
            </tr>
        }
    </tbody>
</table>
